version: '3.3'
services:
    agora-el-node:
        container_name: agora-el-node
        image: bosagora/agora-el-node:v1.0.1
        ports:
            - "8545:8545"
            - "30303:30303"
            - "30303:30303/udp"
        restart: always
        volumes:
            - ./root/:/root
        command:
            --config=/root/config/el/config.toml
            --datadir=/root/chain/el
            --syncmode=full

    agora-cl-node:
        container_name: agora-cl-node
        image: bosagora/agora-cl-node:v1.0.2
        ports:
            - "3500:3500"
            - "4000:4000"
            - "13000:13000"
            - "12000:12000/udp"
        volumes:
            - ./root/:/root
        restart: always
        command:
            --chain-config-file=/root/config/cl/chain-config.yaml
            --config-file=/root/config/cl/config.yaml
            --accept-terms-of-use
            --p2p-host-ip=${P2P_HOST_IP}
            --checkpoint-sync-url=https://testnet-sync.bosagora.org
            --genesis-beacon-api-url=https://testnet-sync.bosagora.org
        depends_on:
            - agora-el-node

    agora-cl-validator:
        container_name: agora-cl-validator
        image: bosagora/agora-cl-validator:v1.0.2
        volumes:
            - ./root/:/root
        restart: always
        command:
            --chain-config-file=/root/config/cl/chain-config.yaml
            --datadir=/root/chain/cl/
            --accept-terms-of-use
            --beacon-rpc-gateway-provider=agora-cl-node:3500
            --beacon-rpc-provider=agora-cl-node:4000
            --wallet-dir=/root/wallet
            --proposer-settings-file=/root/config/cl/proposer_config.json
            --wallet-password-file=/root/config/cl/password.txt
        depends_on:
            - agora-el-node
            - agora-cl-node
